@import url('http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Playfair+Display:400,700,400italic,700italic');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');


body {
  background: $canvas-lt;
  font-family: $font-secondary;
}

.container {
  @include container(90%);
  overflow: hidden;
  padding: 5%;
}

header {
  height: 4rem;
  font-family: $font-primary;

    h1 {
      @include span-columns(4, 12);
      font-size: 2.5rem;
      text-transform: uppercase;

      a {
          color:  $primary;
          text-decoration: none;
      }
    }

    ul.nav {

      @include span-columns(8 omega, 12);
      @include horizontal-list(false, right);
      padding-top: 1%;

      a {
        @include link-colors($primary,$secondary-lt,$canvas,$primary);
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 700;
        font-style: italic;
      }

      li {
        padding-left: 2em;
      }

    }

}

article {

    a {
    @include link-colors($secondary-lt,$secondary-lt,$canvas,$secondary);
  }

   .container > h2 {
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $primary;
    font-weight: 700;
    font-size: 1.15rem;
    padding: 2% 0;
  }

  h3 {
    font-style: italic;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: .95em;
    color: $secondary;
  }


  h4 {
    font-size: 0.85rem;
    color: darken($primary, 10%);
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1%;
  }


  .restaurant {
    @include span-columns(6, 12);
    font-size: 0.8rem;
    line-height: 1.5em;
    margin-bottom: 1.25em;

     h1 a {
        @include link-colors($primary,$secondary,$warning,$secondary-lt);
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;
      }

      h2 {
        font-weight: 700;
        display: inline;
      }

  }

  .review {
    font-size: 0.8rem;
    margin: 3% 0;

    em {
      font-style: italic;
      font-size: 0.7rem;
    }

    .fa-star {
      color: darken($canvas, 35%);
    }
  }
}

form {
  color: darken($muted, 30%);

  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  label {
    display: block;
    font-size: 0.8rem;

  }

  input, select, textarea {
    width: $column-width * 6;
    margin-bottom: 1%;
    border: 1px solid lighten($muted,40%);
  }

  input[type=submit] {
    background-color: lighten($muted, 15%);
    color: #fff;
    font-weight: 900;
    height: 3em;
  }
}
