// Susy Setup ----------------------------------

$total-columns: 10;
$column-width: 4rem;
$gutter-width: 1rem;
$grid-padding: $gutter-width / 2;

$container-style: magic; // default to magic. Switch to fluid or fixed if desired

@include border-box-sizing;

$small  : 30em;
$medium : 47em;
$large  : 75em;
