// Susy Setup ----------------------------------

$total-columns: 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

@include border-box-sizing;

$small  : 30em;
$medium : 47em;
$large  : 75em;


$container-style: magic; // default to magic. Switch to fluid or fixed if desired
