$primary: #A40D2B;
$secondary: #37374E;
$secondary-lt: lighten($secondary, 30%);
$canvas: #FEF1C4;
$canvas-lt: lighten($canvas, 10%);
$canvas-dk: darken($canvas, 5%);
$warning: #A71025;
$muted: #AD6D3A;

$font-primary: 'Playfair Display', serif;
$font-secondary: 'Lato', sans-serif;
